{
    "overrides": [
        {
            "files": [
                "*/**/*.ts"
            ],
            "parser": "@typescript-eslint/parser",
            "parserOptions": {
                "ecmaVersion": 6,
                "project": "./tsconfig.json"
            },
            "plugins": [
                "@typescript-eslint"
            ],
            "rules": {
                "quotes": ["error", "double"],
                "semi": ["error", "always"],
                "indent": ["warn", 4]
            },
            "extends": [
                "eslint:recommended",
                "plugin:@typescript-eslint/recommended"
            ]
        },
        {
            "files": [
                "*/**/*.js"
            ],
            "rules": {
                "quotes": ["error", "double"],
                "semi": ["error", "always"],
                "indent": ["warn", 4]
            },
            "extends": [
                "eslint:recommended"
            ]
        }
    ]
}